/* Global Styles */
html,
body {
  	 
  	  width: 100%;
	  box-sizing: border-box;
	  padding: 0;
	  margin: 0;
	}
body {  font-family: arial;		
		font-size: 14px;
		/*background-color: #53b6f7;*/
		box-sizing: border-box;	
		padding: 0;
		margin: 0;
		 		
	  }	
a{ text-decoration: none; }

.clearFix{clear: both;}

.container{ width: 960px;
			margin: auto;						
		   }
ul{list-style-type: none; padding: 0px;}
		   
/*-------------- Login/signout Page Style ---------------*/
#login, #signup{	width: 25%;
					margin: auto;			
					height: auto;			 
					margin-top: 10%; 
					border-radius: 15px;
					/*box-shadow: 2px 2px 2px #91cff7;*/
					border: 2px solid #044b79;
					background: #044b79;
					padding-top: 2px;			
					text-align: center;
			}
#login p,#signup p{   color: white; 
					 font-weight: bold; 
					 font-size: 20px;
				 }
.signup_box, .login_box{  
							background: #fff;
							border-radius: 0px 0px 15px 15px;
							text-align: center;
							padding: 20px 0px;
						}
.login_box input,.signup_box input{ padding: 8px 60px 8px 10px;				
								border: 1px solid #044b79;
							   }
							   
.login_box label,.signup_box label{  margin-top: 15px;
								 display: block;
							}
 .login_box  #btnSend,.signup_box  #btnSend{ background: #044b79;
										   color: white;
										   border-radius: 6px;
										   padding: 10px 30px;
										   border: none;
										   display: inline-block;
										}
.login_box  #btnSend:hover,.signup_box  #btnSend:hover{ background: #1d1d1d; 
													  transition: 0.5s; 	
													}
.login_box  #sign,.signup_box  #sign{  color: #044b79;
									  font-weight: bold;
								  }
.login_box  #sign:hover,.signup_box  #sign:hover{  color: #1d1d1d;
										       	 transition: 0.5s; 	
											  }
.signup_box  datalist{ 
					padding: 8px;	
				}
/*--------------- Home Page ---------------*/

header{ padding: 20px;
	   background: #fff;
	   height: auto;
	 }
header .logo{   height: 55px;
			   width: 250px;
			   float: left;
			   background: url('../images/cuelogic_logo.png') no-repeat;
			}
header .navigation{ float: right;
			       
			     }
header .navigation li{ float: left;
					margin-left: 20px;
					}
header .navigation li a{  padding: 15px 20px;
					  color: #1d1d1d;
					  text-transform: uppercase;
					}
header .navigation li a:hover{  background-color: #0070ba;
						    color: white;
						    transition: 0.6s;	
						}
header .navigation li #btnSignOut{  background: #1d1d1d; 
								 color: white;
								 padding: 8px 20px;
								 border-radius: 5px;
								 margin-left: 20px;
							 }
header .navigation li #btnSignOut:hover{ text-decoration: underline;
									  transition: 0.8s;									  
									}

.banner .container{ height: 360px;
				   width: 960px;				   
				   background: url('../images/banner_04.png') no-repeat;
				   }
.middle {margin-top: 50px;}
.middle ul li{ width: 260px;
			float: left;
			margin-left: 30px;
			text-align: center;
			line-height: 20px;
			background-color: #0070ba;
			color: white;
			padding: 20px;
			cursor: pointer;
			}
.middle ul li:first-child{margin-left: 0px;}
.middle ul li:hover{ color: #fff;
				  background: #30a7f6;
				  transition: 0.8s;
				  }
footer .container{ margin-top: 50px;
				 background:#000;
				 padding:10px 20px;
				 box-sizing: border-box;
				}
footer .container li {margin-top: 10px;}
footer .container li a{color: white;}
footer .container li a:hover{text-decoration: underline;}